.SearchBox {
    min-width: 10rem;
    width: 10%;
    height: 2rem;
    margin: 2rem 2rem 4rem 0;
}

.SearchBox input {
    width: 100%;
    height: 100%;
    padding: 1rem 1rem 1rem 2rem;
    margin: 0;
    border: 1px solid var(--light-gray);
    border-radius: 1rem;
    box-shadow: 0 .5rem 1rem rgba(12, 56, 94, .15);
    font-size: 1rem;
}